.services-section {
  background-color: var(--color-grey-light);
  padding: 10rem 2rem;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}

.service-card {
  width: 30rem;
  background-color: var(--color-white);
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.5s;
}

.service-card:hover {
  background-color: var(--color-primary);
}

.service-card-img-wrapper {
  --service-image-wrapper-size: 10rem;
  width: var(--service-image-wrapper-size);
  height: var(--service-image-wrapper-size);
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-lighter);
  margin: 0 auto;
  clip-path: circle(50% at 50% 50%);
}

.service-image {
  width: 6rem;
}

.service-title {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 1rem 0;
  transition: color 0.5s;
}

.service-card:hover .service-title {
  color: var(--color-white);
}

.service-description {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2;
  color: var(--color-grey);
  transition: color 0.5s;
}

.service-card:hover .service-description {
  color: var(--color-white);
}
/* End of services styling */

/* Reasons section styling */
.reasons-section {
  /* height: 100vh; */
  background:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/reasons-bg-img.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 10rem 5rem;
}

.reason {
  width: 35rem;
}

.reason-title {
  color: var(--color-white);
  text-transform: capitalize;
  letter-spacing: 2px;
}

.reason-description {
  font-size: 1.4rem;
  color: var(--color-grey);
  line-height: 2;
  font-weight: 200;
}